/************************************* Diálogo Nuevo instrumento *******************************************/
#dialog-nueva-instrumento { display: none; } 

#dialog-nueva-instrumento  .div-interior-dialog 
{
    width: 28em;
    height: 3em;
}

#dialog-nueva-instrumento  .div-interior-dialog div
{
    text-align: justify; 
    font-size: 13px; 
}

/*********************************** Fin de Diálogo Nuevo instrumento **************************************/
.no-close .ui-dialog-titlebar-close { display: none; }

.ui-dialog .ui-dialog-titlebar
{
    color: #90B2F0;    
    font-weight: bold;