#i-add-fila-eventos, 
#i-salvar-todas-filas, 
#i-eliminar-todas-filas,
.i-agregar-eventos,
.i-eliminar-fila-eventos { cursor: pointer; }

#table-lista-eventos > tbody > tr.active > td { background-color: #B9C2DF !important; /*Azul semi-oscuro*/ }
#table-lista-eventos tbody tr:hover { background-color: #B9C2DF; /*Azul semi-oscuro*/ }